<!DOCTYPE html>

<html lang="en">
  <%- include('includes/head') %>
  <body>
    <%- include('includes/header') %>

    <main>
      <h1><%= post.title%></h1>

      <article>
        <small
          >Posted by <%= post.username %> on <%= new
          Date(post.createDate).getMonth() + 1 %>/<%=new
          Date(post.createDate).getDate() %>/ <%= new
          Date(post.createDate).getFullYear()%>
        </small>

        <div>
          <p><%= post.body %></p>
        </div>
      </article>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>
